<!-- Header -->
<div class="header-pane">
    <div class="logo-pane">
        <span class="logo-title">Thumbnail Exporter</span>
        <span class="logo-subtitle">Text to blog thumbnail image</span>
    </div>
</div>

<!-- Main -->
<div class="main-pane">
    <!-- HTML -->
    <mono-textarea placeholder="HTML" [text]="htmlInput" [dark]="true" (changed)="htmlInput = $event"></mono-textarea>

    <!-- Loading Indicator -->
    <div *ngIf="isLoading" class="loading-pane">
        <mono-spinner></mono-spinner>
    </div>

    <!-- Preview -->
    <div *ngIf="!isLoading && htmlInput" class="preview-pane">
        <span id="thumbnail" #thumbnailRef class="preview-pane--text" [innerHTML]="htmlInput">
        </span>
    </div>

    <!-- Export -->
    <mono-button text="Export" [dark]="true" [disabled]="!htmlInput.length" (clicked)="export()"></mono-button>

    <!-- Codebase Link -->
    <div class="codebase-pane">
        <a href="https://www.github.com/namitoyokota/thumbnail-exporter" target="_blank">GitHub</a>
    </div>
</div>
